body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(40, 37, 98, 0.88);
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 50px;
}

.active {
  border-bottom: rgba(0, 0, 0, 0.8);
}

button {
  background-color: #ee2761;
  color: white;
  min-height: 34px;
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #c62761;
  cursor: pointer;
}

button:active {
  outline-color: transparent;
}

a::hover {
  color: white;
}

select,
textarea,
input[type="username"],
[type="password"],
[type="email"],
[type="text"],
[type="number"],
[type="search"] {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 34px;
  width: 200px;
  padding: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.item-card {
  width: 230px;
  height: 400px;
  color: darkslategray;
  -webkit-box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1px 5px 10px;
  background-color: white;
}

.item-card:hover {
  background-color: #fff5f8;
}

.item-card img {
  border-radius: 4px;
  width: 100%;
  height: 140px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header {
  width: 100vw;
  height: 120px;
  background-color: rgba(255, 242, 0, 0.08);
  color: #282562;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px 10px;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
}

.header h1 {
  text-align: center;
}

.header__link {
  margin-left: 10px;
  margin-right: 10px;
}

.header__link:hover {
  color: #ee2761;
}

.header__cart {
  height: 20px;
  margin-left: 20px;
}

.active {
  color: #ee2761;
}

.footer {
  position: absolute;
  background-color: #ffe6ee;
  width: 100vw;
  bottom: 0;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://2n15723t7tby2h2e5d3jq516-wpengine.netdna-ssl.com/wp-content/uploads/2015/06/Youth_shutterstock_web.jpg");
  background-position: center;
  background-size: cover;
  height: 86.5vh;
  position: relative;
}

.landing-page::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(120deg, #000000, #000000);
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-page h1 {
  padding: 0px 10px 30px;
  margin-top: -124px;
  color: rgba(255, 255, 255, 0.75);
  z-index: 100;
  font-size: 29.99px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .landing-page h1 {
    margin-top: -120px;
    font-size: 60px;
  }
}

.landing-page__button-div {
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .landing-page__button-div {
    padding-top: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.landing-page__button {
  width: 120px;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 200;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.item-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .item-page {
    padding-top: 100px;
  }
}

.item-page .item-card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-flex: 0.02;
      -ms-flex-positive: 0.02;
          flex-grow: 0.02;
}

.item-page__about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item-page__submit-review {
  width: 200px;
}

.admin-sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  margin-top: 17.7px;
  border-radius: 4px;
}

.admin-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .admin-page {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .admin-page br {
    display: none;
  }
}

.admin-page__upload-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-page__textarea {
  width: 200px;
  height: 100px;
}

.admin-page__submit-button {
  width: 200px;
}

.admin-page__image-uploader {
  width: 200px;
}

.admin-page__delete-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.admin-page__logout-btn {
  height: 30px;
  background-color: #32b259;
}

.admin-page__logout-btn:hover {
  background-color: #008b2a;
}

.admin-page .fileContainer {
  width: 200px;
  height: 230px;
  margin: 0px !important;
  text-align: center;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.about-page {
  width: 300px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.about-page p {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .about-page {
    width: 700px;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.cart .item-card {
  margin-top: 0px;
  width: 270px;
  position: relative;
  height: 80px;
}

.cart .item-card img {
  height: 45px;
  width: 45px;
  position: absolute;
  right: 0;
}

.cart .item-card p {
  display: none;
}

.cart__delete {
  position: relative;
  bottom: 37px;
  left: 60px;
}

.cart__checkout {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: #32b259;
  color: white;
  font-weight: 540;
  margin: 15px auto;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart__checkout:hover {
  background-color: #008b2a;
}

.cart__error-message {
  text-align: center;
  margin-top: 50px;
}

.StripeCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: none !important;
  background: none !important;
  background-color: #32b259 !important;
}

.StripeCheckout:hover {
  background-color: #008b2a !important;
}

.checkout-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.checkout-page button {
  background-color: #32b259;
}

.checkout-page button:hover {
  background-color: #008b2a;
}

.search-and-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 300px;
  padding: 20px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.05);
}
/*# sourceMappingURL=index.css.map */