body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
  margin: inherit;
}

.header {
  width: 100vw;
  background-color: #00704a;
  color: #f3f4f4;
}
