.admin-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-top: 17.7px;
  //   border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  //   width: 110px;
}

.admin-page {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  @include tablet {
    align-items: initial;

    padding-top: 20px;
    padding-left: 30px;
  }
  &__upload-form {
    display: flex;
    flex-direction: column;
  }
  &__textarea {
    width: 200px;
  }
  &__submit-button {
    width: 200px;
  }
}
