.cart {
  display: flex;
  flex-wrap: wrap;
  // flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    // flex-direction: row;
  }

  // for item-card class that appears inside the cart, use this styling:

  .item-card {
    margin-top: 0px;
    width: 270px;
    position: relative;
    height: 80px;
    img {
      height: 45px;
      width: 45px;
      position: absolute;
      right: 0;
    }
    p {
      display: none;
    }
  }

  &__input-group {
    display: flex;
    position: relative;
    width: 100%;
    bottom: 37px;
  }

  &__quantity {
    width: 100px;
  }

  // &__delete {
  // }

  &__checkout {
    display: flex !important;
    background-color: #32b259;
    color: white;
    font-weight: 540;
    margin: 15px auto;
    // margin-top: -5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      background-color: #008b2a;
    }
  }

  &__error-message {
    text-align: center;
    margin-top: 50px;
  }
}

.StripeCheckout {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: none !important;
  background: none !important;
  background-color: #32b259 !important;
  &:hover {
    background-color: #008b2a !important;
  }
}
.shipping-fee-message {
  display: flex;
  justify-content: center;
}
