.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    flex-direction: row;
  }
  &__delete {
    position: relative;
    bottom: 37px;
    left: 60px;
  }

  &__checkout {
    background-color: #32b259;
    color: white;
    font-weight: 540;
    margin-bottom: 15px;
    margin-top: -5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
