.header {
  width: 100vw;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  &__link {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__cart {
    height: 20px;
    margin-left: 20px;
  }
}
